.switch-container {
	width: 90px;
	height: 30px;
	padding: 5px;
}
.switch-background {
	width: 80px;
	background-color: #eee;
	height: 30px;
	position: relative;
	-webkit-border-radius: 15px !important;
	-moz-border-radius: 15px !important;
	border-radius: 15px !important;
	cursor: pointer;
	-webkit-box-shadow: inset 0 8px 6px -6px #666;
	-moz-box-shadow: inset 0 8px 6px -6px #666;
	box-shadow: inset 0 8px 6px -6px #666;
	overflow: hidden;
}
.button-switch{
	position: absolute;
	-webkit-border-radius: 15px !important;
	-moz-border-radius: 15px !important;
	border-radius: 15px !important;
}
.desc-switch{
	line-height: 35px;
}
.desc-switch-on{
	margin-left: 40px;
}
.desc-switch-off{
	margin-left: 15px;
}